html, body {
	height:100%;
	width:100%;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 18px;
	margin: inherit;
	padding: 15px;
}

.row {
	width:100%;
}
div.row.nav-row {
	position:fixed;
	top:0px;
	height:50px;
	z-index: 2;
	box-shadow: 0px 2px 10px rgba(0,0,0,1);
}
div.row.chat-row {
	position: relative;
	top:50px;
	padding-bottom: 50px;
}
ul.chat-messages-bin { 
	list-style-type: none;
	padding: 20px 0px;
}
ul.chat-messages-bin li.chat-message-module {
	padding: 5px 0px;
	display: block;
}
li.chat-message-module.my-chat-message-module {
	text-align: right;
}
li.chat-message-module div.chat-message-user-id {
	padding:3px 20px;
	display:inline-block;
}
div.chat-message-user-id.chat-message-component-right, div.chat-message-content.chat-message-component-right {
	border-radius: 0px 5px 5px 0px;
}
div.chat-message-user-id.chat-message-component-left, div.chat-message-content.chat-message-component-left {
	border-radius: 5px 0px 0px 5px;
}
li.chat-message-module div.chat-message-content {
	padding:3px 20px;
	display:inline-block;
}

li.chat-message-module.chat-message-module-admin {
	text-align: center;
}

li.chat-message-module.chat-message-module-admin div.chat-message-content {
	border-radius: 5px;
	background-color: rgba(50,50,50,1);
	color:rgba(200,200,200,1);
}

div.row.form-row {
	position: fixed;
	bottom: 0px;
	height:50px;
	z-index: 2;
	background-color: rgba(255,255,255,1);
}

form.chat-message-form input.message-input {
	width:88%;
	margin-right:2%;
	float:left;
}
form.chat-message-form button.message-submit {
	width:10%;
}