<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
	<script src="./jquery/jquery-2.1.3.min.js"></script>
	<script src="./bootstrap/js/bootstrap.min.js"></script>
	<script src="./bootstrap/js/bootstrap-combobox.js"></script>
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="./bootstrap/css/bootstrap-combobox.css" />
	<style>
		.group-input-options-list {
			list-style-type: none;
			max-height:200px;
			padding: 0px;
			overflow: auto;
			box-shadow: 1px 1px 1px rgba(0,0,0,1);
		}
		.group-input-option {
			border-bottom:1px solid rgba(200,200,200,1);
			height:40px;
			font-size:14px;
			padding:12px 10px;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<nav class="col-xs-12 navbar navbar-default eddy-navbar">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">GRN Chat</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Log in<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Some Link</a></li>
									<li><a href="#">Some Link</a></li>
									<li><a href="#">Some Link</a></li>
									<li class="divider"></li>
									<li><a href="#">Some Link</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>			
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
				<h1>Login to GRN Chat</h1>
				<form action="/" method="post" class="form-horizontal chat-connect-form">
					<div class="form-group" id="email-form-group">
						<label for="emailInput" class="control-label col-sm-2">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="emailInput" placeholder="Enter email" name="login-email">
						</div>
					</div>
					<div class="form-group" id="password-form-group">
						<label for="passwordInput" class="control-label col-sm-2">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="passwordInput" placeholder="Enter password" name="login-password">
						</div>
					</div>
					<div class="form-group">
						<label for="groupInput" class="control-label col-sm-2">Group</label>
						<div class="col-sm-10">
							<select class="form-control combobox" id="groupInput" name="login-group">
								<option value="">Select a group</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Sign in</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			var getReq = $.get("/",{
				"type":"getGroupNames"
			},'json').success(function(data){
				if (data.names){
					data.names.forEach(function(name){
						$("#groupInput").append('<option value="' + name + '">' + name + '</option>');
					});
					$('.combobox').combobox();
				}
				else if (data.error){
					//add error handling
				}
			});
			$(".chat-connect-form").submit(function(event) {
				event.preventDefault();
				var $form = $(this);
				var postReq = $.post("/",{
					"login-group":$form.find("input[name='login-group']").val(),
					"login-email":$form.find("input[name='login-email']").val(),
					"login-password":$form.find("input[name='login-password']").val()
				},'json').success(function(data){
					if (data.redirect)
                		window.location = data.redirect;
                	else if (data.error){
                		$("#email-form-group,#password-form-group").addClass("has-error has-feedback");
                	}
				});
			});
		});	
	</script>
</body>
</html>